@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global para garantir que a página respeite a barra de navegação e o rodapé */
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: url('/background/LOS.jpg') center center fixed no-repeat;
    background-size: cover;
    color: #f8d549;
    font-family: 'Arial', sans-serif;
}

body {
    flex: 1;
    padding-top: 7rem; /* Ajuste o valor conforme a altura da navbar */
}

.main-content {
    flex: 1;
    width: 100%;
}
